<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	style="height: 100%; margin: 0; padding: 0;">



<head>

<title>Reset password</title>


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link type="text/css" href="css/my.styles.css" rel="stylesheet">


<link href="https://fonts.googleapis.com/css?family=Roboto:100"
	rel="stylesheet">

<link rel="stylesheet" href="css/animatedst.css" type="text/css"
	media="all" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	th:src="@{/js/rightNavBar.js}"></script>
</head>
<body class="container mainColor">


	<nav class="navbar navbar-inverse navbar-fixed-top navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> <img
					th:src="@{/img/logo_villa_b.png}" class="imgNav" alt="">
				</a>
			</div>

			<div th:replace="fragments/common::fragRightNavBarNoLogout"></div>


		</div>

	</nav>








	<div>

		<div class="row ">

			<div class="col-md-6  col-md-offset-3 "
				style="text-align: center; margin-top: 10%">
				<form autocomplete="off" action="#" th:action="@{/resetPassword}"
					method="post" class="form-horizontal" role="form">

					<h1 th:inline="text">
						[[#{resetPassword}]]<span> 1° STEP</span>
					</h1>

					<!-- email -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label th:inline="text" for="email">[[#{email}]]</label> <input
								required="required" name="email" id="email" type="text"
								th:placeholder="#{email}" class="form-control" />
						</div>
					</div>

					<!-- bottone che registra -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<button th:inline="text" type="submit"
								class="btn btn-primary btn-block">[[#{submit}]]</button>
						</div>
					</div>


					<span th:utext="${successMessage}"></span>





				</form>

			</div>

		</div>

	</div>

	<!-- ------------- -->
	<!-- MODALE PER LA SEGNALAZIONE DI UN ERRORE -->
	<!-- ------------- -->
	<!-- Modal -->
	<div th:if="${error}" class="modal fade" id="modalVisualizeErrore"
		role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content"
				style="background-color: white; color: black">
				<div class="modal-header" style="color: red">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" th:inline="text">[[#{attenzione}]]</h4>
				</div>
				<div class="modal-body" style="color: black;" th:inline="text">
					[[*{error}]]</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- ------------- -->
	<!-- MODALE PER LA SEGNALAZIONE dell'OPERAZIONE ANDATA A BUON FINE -->
	<!-- ------------- -->
	<!-- Modal -->
	<div th:if="${success}" class="modal fade" id="modalVisualizeSuccess"
		role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content"
				style="background-color: white; color: black">
				<div class="modal-header" style="color: green;">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" th:inline="text">[[#{validEmail}]]</h4>
				</div>
				<div class="modal-body" style="color: black;" th:inline="text">
					[[#{tiAbbiamoInviatoUnaMailConLaNuovaPassword}]]</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

</body>
<script type="text/javascript" th:inline="javascript">


var success = [[${success}]];
if (success) {
		$("#modalVisualizeSuccess").modal();
} 

var error = [[${error}]];
if (error) {
		$("#modalVisualizeErrore").modal();
} 
</script>
</html>