
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">



<head>

<title>Login</title>


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link type="text/css" href="../../css/view.login.css" rel="stylesheet">
<link type="text/css" href="../../css/my.styles.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Roboto:100"
	rel="stylesheet">

<link rel="stylesheet" href="../../css/animatedst.css" type="text/css"
	media="all" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>



<body class="container">



	<div>
		<br> <br> <br> <img th:src="@{/img/logo_villa_b.png}"
			class="img-responsive center-block" alt="Logo" />

		<div class="row">


			<div
				class="col-lg-3 col-md-8 col-md-offset-2 
				col-sm-10 col-sm-offset-1 col-xs-12 animated fadeInLeft "
				data-animation="fadeInLeftY">

				<h1>Accademia</h1>
				<p th:inline="text" style="text-align: justify">[[#{description}]]</p>
			</div>


			<div
				class="col-lg-5  col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 animated fadeInRight "
				data-animation="fadeInRight">

				<form th:action="@{/login}" method="POST" class="form-signin">


					<h1 class="form-signin-heading" th:text="Login"></h1>

					<br /> <input type="text" id="login_view_matricola"
						name="matricola" th:placeholder="#{matricola}"
						class="form-control" /> <br /> <input type="password"
						th:placeholder="Password" id="password" name="password"
						class="form-control" />
					<div align="center" th:if="${param.error}">
						<p th:inline="text" style="color: orange;">[[#{errorLogin}]]</p>
					</div>
					<div align="center" >
						<a style="color:white" th:href="@{/openResetPasswordView}"
  								th:text="#{passwordDimenticata}"></a>
					</div>
					<br />
					<button class="btn btn-lg btn-primary btn-block" name="Submit"
						value="Login" type="Submit" th:text="Entra"></button>

				</form>


				<p th:inline="text" style="color: white;">[[#{oppure}]]</p>

				<a th:href="@{/registration}" style="text-decoration: none">
					<button class="btn btn-lg btn-info btn-block" name="Registrati"
						th:text="#{registrati}"></button>
				</a>
				
				
			</div>

		</div>



	</div>
	
	<!-- SNACKBAR OPERAZIONE AVVENUTA CON SUCCESSO -->
	<div th:inline="text" class="snackbar" id="snackBarParameter"
		th:if="${parameter}">[[*{parameter}]]</div>
	

</body>


<script type="text/javascript" th:inline="javascript">

//per aprire snackbar utente creato con successo
var parameter = [[${parameter}]];
if (parameter){
    var x = document.getElementById("snackBarParameter");
    x.className = "show snackbar";
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}




</script>





</html>
