
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" style="height: 100%;margin:0;padding:0;">



<head>

<title>Login</title>


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link type="text/css" href="css/view.login.css" rel="stylesheet">

<link type="text/css" href="css/my.styles.css" rel="stylesheet">


<link href="https://fonts.googleapis.com/css?family=Roboto:100"
	rel="stylesheet">

<link rel="stylesheet" href="../../css/animatedst.css" type="text/css"
	media="all" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{js/rightNavBar.js}"></script>
</head>



<body  class="container" style="color:white">

<nav class="navbar navbar-inverse navbar-fixed-top navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> <img
					th:src="@{/img/logo_villa_b.png}" class="imgNav" alt="">
				</a>
			</div>

			<div th:replace="fragments/common::fragRightNavBarNoLogout"></div>


		</div>

	</nav>


	<div class="vertical-center" >
	<div class="  row" >
		<!-- colonna -->
		<div style="text-align: center" class="  col-md-10 col-md-offset-1 ">
		<img  th:src="@{/img/logo_villa_b.png}" >
			<h1 th:inline="text">[[#{congratulazioni}]]</h1>
			<h3> [[#{registrationSuccededWelcolme}]]   </h3>
			<h3 th:inline="text">[[#{registrationSucceded1}]] <b><span th:text="${utente.email}"></span></b> </h3>
			
		</div>
	</div>
</div>
</body>







</html>
