
<!DOCTYPE html>  

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<title>Registration Form</title>

<link type="text/css" href="css/my.styles.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto:100"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{js/password_strength.js}"></script>
<script th:src="@{js/dist/jquery-strength.js}"></script>
<script th:src="@{js/passwordHint.js}"></script>

<script
	th:src="@{js/rightNavBar.js}"></script>
</head>

<body  class="my_body container mainColor">
	<!-- navbar-inverse navbar-fixed-top -->
	<nav class="navbar navbar-fixed-top navbar-inverse  navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> <img
					th:src="@{../../img/logo_villa_b.png}" class="imgNav" alt="">
				</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" th:inline="text" href="#">[[#{documenti}]]<span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/documents/autodichiarazioneEuropea.docx}"
							download th:inline="text">[[#{autodichiarazioneEuropea}]] </a></li>
						<li><a
							th:href="@{/documents/autodichiarazioneExtraEuropea.docx}"
							download th:inline="text">
								[[#{autodichiarazioneExtraEuropea}]] </a></li>

					</ul></li>
			</ul>
				<ul class="nav navbar-nav navbar-right">
				<li><a th:href="@{/login}"><span
						class="glyphicon glyphicon-log-in"></span> Login</a></li>
			</ul>
			
			<div th:replace="fragments/common::fragRightNavBarNoLogout"></div>
			
		
		</div>
	</nav>


	<div>

		<div class="row ">

			<div class="col-md-6  col-md-offset-3 "
				style="text-align: center; margin-top: 10%">
				<form autocomplete="off" action="#"
					th:action="@{/submitRegistration}" th:object="${utenteBean}"
					method="post" class="form-horizontal" role="form">

					<h2 th:inline="text">[[#{formDiRegistrazione}]]</h2>

					<!-- nome -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label th:inline="text" for="nome">[[#{nome}]]</label>
							<label th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"
								class="validation-message myStylesRedColor"></label> <input
								id="nome" type="text" th:field="*{nome}"
								th:placeholder="#{nome}" class="form-control" />
						</div>
					</div>


					<!-- cognome -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label th:inline="text" for="cognome">[[#{cognome}]]</label>
							<label th:if="${#fields.hasErrors('cognome')}"
								th:errors="*{cognome}"
								class="validation-message myStylesRedColor"></label> <input
								id="cognome" type="text" th:field="*{cognome}"
								th:placeholder="#{cognome}" class="form-control" />
						</div>
					</div>


					<!-- data di nascita -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="dataNascita" th:inline="text">[[#{dataDiNascita}]]</label>
							<label th:if="${#fields.hasErrors('dataNascita')}"
								th:errors="*{dataNascita}" th:inline="text"
								class="validation-message myStylesRedColor"></label> <input
								id="dataNascita" type="date"
								th:field="*{dataNascita}" th:placeholder="#{dataDiNascita}"
								class="form-control" />
						</div>
					</div>


					<!-- Nazione -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="nazione" th:inline="text">[[#{nazione}]]</label>
							<label th:if="${#fields.hasErrors('nazione')}"
								th:errors="*{nazione}"
								class="validation-message myStylesRedColor"></label> 
								<select class="form-control" th:field="*{nazione}" id="nazione" >
							    <option value="" th:text="#{selectNazione}"></option>
							<option th:each="nazione : ${nazioni}"
								th:value="${nazione.nazione}"
								th:text="${nazione.nazione}"></option>
							  </select>
								
						</div>
					</div>

					<!-- indirizzo -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="indirizzo" th:inline="text">[[#{indirizzo}]]</label>
							<label th:if="${#fields.hasErrors('indirizzo')}"
								th:errors="*{indirizzo}"
								class="validation-message myStylesRedColor"></label> <input
								id="indirizzo" type="text"
								th:field="*{indirizzo}" th:placeholder="#{indirizzo}"
								class="form-control" />
						</div>
					</div>
					
					
					
					<!-- città -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="citta" th:inline="text">[[#{citta}]]</label>
							<label th:if="${#fields.hasErrors('citta')}"
								th:errors="*{citta}"
								class="validation-message myStylesRedColor"></label> <input
								id="citta" type="text"
								th:field="*{citta}" th:placeholder="#{citta}"
								class="form-control" />
						</div>
					</div>
					
					
					<!-- cap -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="cap" th:inline="text">[[#{cap}]]</label>
							<label th:if="${#fields.hasErrors('cap')}"
								th:errors="*{cap}"
								class="validation-message myStylesRedColor"></label> <input
								id="cap" type="text"
								th:field="*{cap}" th:placeholder="#{cap}"
								class="form-control" />
						</div>
					</div>

					<!-- sesso -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="sex" th:inline="text">[[#{sesso}]]</label>
							<label th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"
								class="validation-message myStylesRedColor"></label> <select
								class="form-control" th:field="*{sex}" id="sex">
								<option th:text="#{seleziona}" th:value="null"></option>
								<option th:text="F" th:value="0"></option>
								<option th:text="M" th:value="1"></option>
							</select>
						</div>
					</div>

					<!-- codice fiscale -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="codiceFiscale" th:inline="text">[[#{codiceFiscale}]]</label>
							<label th:if="${#fields.hasErrors('codiceFiscale')}"
								th:errors="*{codiceFiscale}"
								class="validation-message myStylesRedColor"></label> <input
								id="codiceFiscale" type="text"
								th:field="*{codiceFiscale}" th:placeholder="#{codiceFiscale}"
								class="form-control" />
						</div>
					</div>

					<!-- telefono -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="telefono" th:inline="text">[[#{numeroTelefono}]]</label>
							<label th:if="${#fields.hasErrors('telefono')}"
								th:errors="*{telefono}"
								class="validation-message myStylesRedColor"></label> <input
								id="telefono" type="text"
								th:field="*{telefono}" th:placeholder="#{numeroTelefono}"
								class="form-control" />
						</div>
					</div>

					<!-- corso -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
						<label for="select_corso"><span th:text="#{corso}"></span></label>
						<select required="required" class="form-control" 
							th:field="*{corso}" id="select_corso">
							<option value="" th:text="#{selezionaCorso}"></option>
							<option th:each="corso : ${corsi}" th:value="${corso.idCorso}"
								th:text="${corso.nome}"></option>
						</select>
						</div>
					</div>

					<!-- email -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label th:inline="text" for="email">[[#{email}]]</label>
							<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message myStylesRedColor"></label> <input
								id="email" type="text" th:field="*{email}"
								th:placeholder="#{email}" class="form-control" />
						</div>
					</div>

					<!-- password -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="password">Password</label> <label 
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="validation-message myStylesRedColor"></label> <input
								data-toggle="tooltip" data-placement="top" th:title="#{passwordHint}"
								maxlength="30" id="password" type="password" 
								th:field="*{password}" th:placeholder="Password" name="password"
								class="form-control password-input"/> 
						</div>
						<div class="pwstrength_viewport_progress"></div>
					</div>


					<!-- bottone che registra -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<button th:inline="text" type="submit"
								class="btn btn-primary btn-block">[[#{submit}]]</button>
						</div>

					</div>


					<span th:utext="${successMessage}"></span>





				</form>

			</div>

		</div>

	</div>




</body>
<div th:replace="fragments/footer::footer"></div>

<script type="text/javascript"  th:inline="javascript">



var focus=[[${focus}]];
if (focus) {
	document.getElementById(focus).focus();
}


$(".password-input").strength({
	  templates: {
	    toggle:
	    	'<span class="input-group-addon"><a style="color:inherit;text-decoration: none;" id="eyeIcon"><span class="glyphicon glyphicon-eye-open {toggleClass}" title="Show/Hide Password"></a></span></span>'
	  },
	});
$('#eyeIcon').click( 
		function(e) {
			if ($(this).find('span').hasClass( "glyphicon-eye-open" ))  {
				$(this).find('span').removeClass('glyphicon-eye-open');
				$(this).find('span').addClass('glyphicon-eye-close');
			} else {
				$(this).find('span').addClass('glyphicon-eye-open');
				$(this).find('span').removeClass('glyphicon-eye-close');
			}
} );
</script>
</html>
