
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">



<head>

<title>Login</title>


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link type="text/css" href="../../css/view.login.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Roboto:100"
	rel="stylesheet">

<link rel="stylesheet" href="../../css/animatedst.css" type="text/css"
	media="all" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>



<body class="container">


<div>Registrazione avvenuta con sucesso!</div>


	<a th:href="@{/login}" style="text-decoration: none">
					<button class="btn btn-lg btn-info btn-block" name="Login"
						th:text="Login"></button>
				</a>
				

	
	

</body>







</html>
