
<!DOCTYPE html>  

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<title>Registration Form</title>


<link type="text/css" href="css/my.styles.css" rel="stylesheet" />

<link type="text/css" href="css/view.registration.css" rel="stylesheet" />

<link href="https://fonts.googleapis.com/css?family=Roboto:100"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />


	

	
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
</head>

<body>

	<!-- navbar-inverse navbar-fixed-top -->
	<nav class="navbar  navbar-expand-lg navbar-dark fixed-top">
	
		<a class="navbar-brand" href="#"> <img
			th:src="@{/img/logo_villa_b.png}" class="imgNav" alt="">
		</a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
		
		
		<ul class="navbar-nav ">
			<li class="nav-item dropdown"><a class="nav-link dropdown-toggle"
					data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" id="navbarDropdownDocumentLink" th:inline="text" href="#">[[#{documenti}]]<span
						class="caret"></span></a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownDocumentLink" >
					
						<a class="dropdown-item"  th:href="@{/documents/autodichiarazioneEuropea.docx}"
							download th:inline="text">[[#{autodichiarazioneEuropea}]] </a>
						<a class="dropdown-item"
							th:href="@{/documents/autodichiarazioneExtraEuropea.docx}"
							download th:inline="text">
								[[#{autodichiarazioneExtraEuropea}]] </a>

					</div>
				</li>
		</ul>
	
		
			
		<div th:replace="fragments/common::fragRightNavBarNoLogoutWithLogin4"></div>
		
		</div>
			
	</nav>




	<div class="container-fluid bgRegistration">

		<div class="row justify-content-center text-center">

			<div class="col-md-6  col-md-offset-3 ">
				<form autocomplete="off" action="#"
					th:action="@{/submitRegistration}" th:object="${utenteBean}"
					method="post" class="registration-form-container" role="form">

					<h2 th:inline="text">[[#{formDiRegistrazione}]]</h2>

					<div class="form-group">
						<div class="col-sm-12">
							<label th:inline="text">[[#{iCampiOblligatoriSonoIndicatiConUnAsterisco}]]</label>
						</div>
					</div>

					<!-- nome -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label th:inline="text" for="nome">[[#{nome}]]</label>
							<label  th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"
								class="validation-message myStylesRedColor"></label> <input
								required="required"
								id="nome" type="text" th:field="*{nome}"
								th:placeholder="#{nome}" class="form-control" />
						</div>
					</div>


					<!-- cognome -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label th:inline="text" for="cognome">[[#{cognome}]]</label>
							<label th:if="${#fields.hasErrors('cognome')}"
								th:errors="*{cognome}"
								class="validation-message myStylesRedColor"></label> <input
								id="cognome" type="text" th:field="*{cognome}" required="required"
								th:placeholder="#{cognome}" class="form-control" />
						</div>
					</div>

					<!-- data di nascita -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="dataNascita" th:inline="text">[[#{dataDiNascita}]]</label>
							<label th:if="${#fields.hasErrors('dataNascita')}"
								th:errors="*{dataNascita}" th:inline="text"
								class="validation-message myStylesRedColor"></label> <input
								readonly="true"
								id="datepicker" 
								required="required"
								th:field="*{dataNascita}" th:placeholder="#{dataDiNascita}"
								class="form-control" />
						</div>
					</div>

					<!-- Nazione -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="nazione" th:inline="text">[[#{nazione}]]</label>
							<label th:if="${#fields.hasErrors('nazione')}"
								th:errors="*{nazione}"
								class="validation-message myStylesRedColor"></label> 
								<select required="required" class="form-control" th:field="*{nazione}" id="nazione" >
							    <option value="" th:text="#{selectNazione}"></option>
							<option th:each="nazione : ${nazioni}"
								th:value="${nazione.nazione}"
								th:text="${nazione.nazione}"></option>
							  </select>
						</div>
					</div>

					<!-- indirizzo -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="indirizzo" th:inline="text">[[#{indirizzo}]]</label>
							<label th:if="${#fields.hasErrors('indirizzo')}"
								th:errors="*{indirizzo}"
								class="validation-message myStylesRedColor"></label> <input
								id="indirizzo" type="text" required="required"
								th:field="*{indirizzo}" th:placeholder="#{indirizzo}"
								class="form-control" />
						</div>
					</div>
					
					<!-- città -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="citta" th:inline="text">[[#{citta}]]</label>
							<label th:if="${#fields.hasErrors('citta')}"
								th:errors="*{citta}"
								class="validation-message myStylesRedColor"></label> <input
								id="citta" type="text" required="required"
								th:field="*{citta}" th:placeholder="#{citta}"
								class="form-control" />
						</div>
					</div>
							
					<!-- cap -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="cap" th:inline="text">[[#{cap}]]</label>
							<label th:if="${#fields.hasErrors('cap')}"
								th:errors="*{cap}"
								class="validation-message myStylesRedColor"></label> <input
								id="cap" type="text" required="required"
								th:field="*{cap}" th:placeholder="#{cap}"
								class="form-control" />
						</div>
					</div>

					<!-- sesso -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="sex" th:inline="text">[[#{sesso}]]</label>
							<label th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"
								class="validation-message myStylesRedColor"></label> <select
								class="form-control" th:field="*{sex}" id="sex" required="required">
								<option th:text="#{seleziona}" th:value="null"></option>
								<option th:text="F" th:value="0"></option>
								<option th:text="M" th:value="1"></option>
							</select>
						</div>
					</div>

					<!-- codice fiscale -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="codiceFiscale" th:inline="text">[[#{codiceFiscale}]](*)</label>
							<label th:if="${#fields.hasErrors('codiceFiscale')}"
								th:errors="*{codiceFiscale}"
								class="validation-message myStylesRedColor"></label> <input
								id="codiceFiscale" type="text"
								th:field="*{codiceFiscale}" th:placeholder="#{codiceFiscale}"
								class="form-control" />
						</div>
					</div>

					<!-- telefono -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="telefono" th:inline="text">[[#{numeroTelefono}]]</label>
							<label th:if="${#fields.hasErrors('telefono')}"
								th:errors="*{telefono}"
								class="validation-message myStylesRedColor"></label> <input
								id="telefono" type="text"
								th:field="*{telefono}" th:placeholder="#{numeroTelefono}"
								class="form-control" />
						</div>
					</div>

					<!-- corso -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
						<label for="select_corso"><span th:inline="text">[[#{corso}]](*)</span></label>
						<select  class="form-control" 
							th:field="*{corso}" id="select_corso">
							<option value="" th:text="#{selezionaCorso}"></option>
							<option th:each="corso : ${corsi}" th:value="${corso.idCorso}"
								th:text="${corso.nome}"></option>
						</select>
						</div>
					</div>

					<!-- email -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label th:inline="text" for="email">[[#{email}]]</label>
							<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message myStylesRedColor"></label> <input
								id="email" type="text" th:field="*{email}" required="required"
								th:placeholder="#{email}" class="form-control" />
						</div>
					</div>

					<!-- password -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="password">Password</label> <label 
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="validation-message myStylesRedColor"></label>
								<div class="input-group">
								 <input
								data-toggle="tooltip" data-placement="top" th:title="#{passwordHint}"
								maxlength="30" id="password" type="password" 
								th:field="*{password}" th:placeholder="Password" name="password"
								class="form-control password-input"/> 
								 <div class="input-group-append">
								   <span class="input-group-text">
								         <i class="fa fa-eye"></i>
								   </span>
								   </div>				
						</div>
						</div>
						<div class="pwstrength_viewport_progress"></div>
					</div>


					<!-- bottone che registra -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<button th:inline="text" type="submit"
								class="btn btn-primary btn-block">[[#{submit}]]</button>
						</div>

					</div>
					<span th:utext="${successMessage}"></span>
				</form>
			</div>

		</div>

	</div>



<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" 
      href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" 
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" 
      crossorigin="anonymous">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	

	
<script th:src="@{js/password_strength.js}"></script>

<script th:src="@{js/dist/jquery-strength.js}"></script>

<script th:src="@{js/passwordHint.js}"></script>

<script
	th:src="@{js/rightNavBar.js}"></script>
	
	<script
	th:src="@{js/jquery-birthday-picker.js}"></script>
	
	<script
	th:src="@{js/bootstrap-show-password.js}"></script>
	
</body>


<script type="text/javascript"  th:inline="javascript">



var focus=[[${focus}]];
if (focus) {
	document.getElementById(focus).focus();
}





$(function() {
    $( "#datepicker" ).datepicker({
        dateFormat : 'yy-mm-dd',
        changeMonth : true,
        changeYear : true,
        yearRange: '-100y:c+nn',
        maxDate: '-1d'
    });
}); 

$(function () {
	$('[data-toggle="tooltip"]').tooltip()
	})

</script>
</html>
