<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	style="height: 100%; margin: 0; padding: 0;">



<head>

<title>Reset password</title>


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link type="text/css" href="css/my.styles.css" rel="stylesheet">


<link href="https://fonts.googleapis.com/css?family=Roboto:100"
	rel="stylesheet">

<link rel="stylesheet" href="css/animatedst.css" type="text/css"
	media="all" />

<link th:src="@{css/password.css}" type="text/css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{js/password_strength.js}"></script>
<script th:src="@{js/dist/jquery-strength.js}"></script>
<script th:src="@{js/rightNavBar.js}"></script>

</head>
<body class="container mainColor">
	<nav class="navbar navbar-inverse navbar-fixed-top navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> <img
					th:src="@{/img/logo_villa_b.png}" class="imgNav" alt="">
				</a>
			</div>

			<div th:replace="fragments/common::fragRightNavBarNoLogout"></div>


		</div>

	</nav>
	<div>

		<div class="row ">

			<div class="col-md-6  col-md-offset-3 "
				style="text-align: center; margin-top: 10%">
				<form autocomplete="off" action="#" th:action="@{/updatePassword}"
					th:object="${passwordBean}" method="post" class="form-horizontal"
					role="form">

					<h1 th:inline="text">
						[[#{resetPassword}]] <span> 2° STEP</span>
					</h1>

					<!-- password -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="password">Password</label> <label
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="validation-message myStylesRedColor"></label> <input
								maxlength="30" id="password" type="password"
								th:field="*{password}" th:placeholder="Password" name="password"
								class="form-control password-input" />
						</div>
					</div>

					<!-- bottone che registra -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<button th:inline="text" type="submit"
								class="btn btn-primary btn-block">[[#{submit}]]</button>
						</div>
					</div>


					<span th:utext="${successMessage}"></span>





				</form>

			</div>

		</div>

	</div>
</body>
<script type="text/javascript" th:inline="javascript">


var success = [[${success}]];
if (success) {
		$("#modalVisualizeSuccess").modal();
} 

var error = [[${error}]];
if (error) {
		$("#modalVisualizeErrore").modal();
} 
$(".password-input").strength({
	  templates: {
	    toggle:
	    	'<span class="input-group-addon"><a style="color:inherit;text-decoration: none;" id="eyeIcon"><span class="glyphicon glyphicon-eye-open {toggleClass}" title="Show/Hide Password"></a></span></span>'
	  },
	});
$('#eyeIcon').click( 
		function(e) {
			if ($(this).find('span').hasClass( "glyphicon-eye-open" ))  {
				$(this).find('span').removeClass('glyphicon-eye-open');
				$(this).find('span').addClass('glyphicon-eye-close');
			} else {
				$(this).find('span').addClass('glyphicon-eye-open');
				$(this).find('span').removeClass('glyphicon-eye-close');
			}
} );
</script>
</html>