
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<title>Create User</title>

<link type="text/css" href="css/my.styles.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto:100"
	rel="stylesheet">
<link rel="stylesheet" href="css/animatedst.css" type="text/css"
	media="all" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body class="container">


	<div th:fragment="copy">&copy; 2011 The Good Thymes Virtual
		Grocery</div>



	<div th:fragment="fragCreateUser (newUser,ruoli)">


		<div class="row " >

			<div class="col-md-6  col-md-offset-3 "
				style="text-align: center; margin-top: 10%">
				<form autocomplete="off" 
					th:action="@{/VillaDeiRomaniAccademy/admin/submitNewUser}" th:object="${newUser}"
					method="post" class="form-horizontal" role="form">


					<!-- nome -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label th:inline="text" for="registration_view_nome">[[#{nome}]]</label>
							<label th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"
								class="validation-message myStylesRedColor"></label> <input
								id="registration_view_nome" type="text" th:field="*{nome}"
								th:placeholder="#{nome}" class="form-control" />
						</div>
					</div>


					<!-- cognome -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label th:inline="text" for="registration_view_cognome">[[#{cognome}]]</label>
							<label th:if="${#fields.hasErrors('cognome')}"
								th:errors="*{cognome}"
								class="validation-message myStylesRedColor"></label> <input
								id="registration_view_cognome" type="text" th:field="*{cognome}"
								th:placeholder="#{cognome}" class="form-control" />
						</div>
					</div>


					<!-- data di nascita -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="registration_view_data_di_nascita" th:inline="text">[[#{dataDiNascita}]]</label>
							<label th:if="${#fields.hasErrors('dataNascita')}"
								th:errors="*{dataNascita}" th:inline="text"
								class="validation-message myStylesRedColor"></label> <input
								id="registration_view_data_di_nascita" type="date"
								th:field="*{dataNascita}" th:placeholder="#{dataDiNascita}"
								class="form-control" />
						</div>
					</div>


					<!-- Nazione -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="registration_view_nazione" th:inline="text">[[#{nazionalita}]]</label>
							<label th:if="${#fields.hasErrors('nazione')}"
								th:errors="*{nazione}"
								class="validation-message myStylesRedColor"></label> <input
								id="registration_view_nazione" type="text"
								th:field="*{nazione}" th:placeholder="#{nazionalita}"
								class="form-control" />
						</div>
					</div>

					<!-- indirizzo -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="registration_view_indirizzo" th:inline="text">[[#{indirizzo}]]</label>
							<label th:if="${#fields.hasErrors('indirizzo')}"
								th:errors="*{indirizzo}"
								class="validation-message myStylesRedColor"></label> <input
								id="registration_view_indirizzo" type="text"
								th:field="*{indirizzo}" th:placeholder="#{indirizzo}"
								class="form-control" />
						</div>
					</div>

					<!-- sesso -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="registration_view_sex" th:inline="text">[[#{sesso}]]</label>
							<label th:if="${#fields.hasErrors('sex')}"
								th:errors="*{sex}"
								class="validation-message myStylesRedColor"></label> <select
								class="form-control" th:field="*{sex}" id="registration_view_sex">
								<option  th:text="#{seleziona}" th:value="null"></option>
								<option  th:text="F" th:value="0"></option>
								<option  th:text="M" th:value="1"></option>
							</select>
						</div>
					</div>

					<!-- codice fiscale -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="registration_view_codice_fiscale" th:inline="text">[[#{codiceFiscale}]]</label>
							<label th:if="${#fields.hasErrors('codiceFiscale')}"
								th:errors="*{codiceFiscale}"
								class="validation-message myStylesRedColor"></label> <input
								id="registration_view_codice_fiscale" type="text"
								th:field="*{codiceFiscale}" th:placeholder="#{codiceFiscale}"
								class="form-control" />
						</div>
					</div>

					<!-- telefono -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="registration_view_telefono" th:inline="text">[[#{numeroTelefono}]]</label>
							<label th:if="${#fields.hasErrors('telefono')}"
								th:errors="*{telefono}"
								class="validation-message myStylesRedColor"></label> <input
								id="registration_view_telefono" type="text"
								th:field="*{telefono}" th:placeholder="#{numeroTelefono}"
								class="form-control" />
						</div>
					</div>



					<!-- email -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label th:inline="text" for="registration_view_email">[[#{email}]]</label>
							<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message myStylesRedColor"></label> <input
								id="registration_view_email" type="text" th:field="*{email}"
								th:placeholder="#{email}" class="form-control" />
						</div>
					</div>

					<!-- ruolo -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="registration_view_select_role"><span
								th:text="#{ruolo}"></span></label> <label
								th:if="${#fields.hasErrors('role')}" th:errors="*{role}"
								class="validation-message myStylesRedColor"></label> <select
								class="form-control" th:field="*{role}"
								id="registration_view_select_role">
								<option value="0" th:text="#{selezionaRuolo}"></option>
								<option th:each="role : ${ruoli}" th:value="${role.idRole}"
									th:text="${role.name}"></option>
							</select>
						</div>
					</div>


					<!-- password -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<label for="registration_view_paswword">Password</label> <label
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="validation-message myStylesRedColor"></label> <input
								id="registration_view_paswword" type="password"
								th:field="*{password}" th:placeholder="Password"
								class="form-control" />
						</div>
					</div>


					<!-- bottone che registra -->
					<div class="form-group">
						<div style="text-align: center" class="col-sm-12">
							<button th:inline="text" type="submit"
								class="btn btn-primary btn-block">[[#{submit}]]</button>
						</div>
					</div>


					<span th:utext="${successMessage}"></span>





				</form>

			</div>

		</div>



	</div>



</body>

</html>
