<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<title>Create User</title>

<link type="text/css" href="css/my.styles.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto:100"
	rel="stylesheet">
<link rel="stylesheet" href="css/animatedst.css" type="text/css"
	media="all" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body class="container">

	<div
		th:fragment="fragAggiungiRelAttivitaCorso(corsi,attivitaDidattiche,relCorsoAttivita)">
		<form autocomplete="off"
			th:action="@{/VillaDeiRomaniAccademy/admin/submitAddRelAttivitaCorso}"
			th:object="${relCorsoAttivita}" method="post" class="form-horizontal"
			role="form">
			<div class="row ">
				<!-- colonna -->
				<div style="text-align: center" class="col-md-8 col-md-offset-2">
					<!-- corso -->
					<div class="form-group"><br>
						<label for="select_corso"><span th:text="#{corso}"></span></label>
						<select required="required" class="form-control"
							th:field="*{corso}" id="select_corso">
							<option value="0" th:text="#{selezionaCorso}"></option>
							<option th:each="corso : ${corsi}" th:value="${corso.idCorso}"
								th:text="${corso.nome}"></option>
						</select>
					</div>
					<!-- Attivita didattica -->
					<div class="form-group hidden" id="divAttivita">
						<label for="attivita" th:inline="text">[[#{insegnamento}]]</label>
						<select class="form-control selectpicker"
							th:field="*{attivitaDidattica}" id="attivita" required="required">
						</select>
					</div>
					<!-- obbligatorio check -->
					<div class="form-group hidden " id="divObbligatorio">
						<label for="obbligatorio" th:inline="text">[[#{obbligatorio}]]</label><input
							id="obbligatorio" type="checkbox" name="obbligatorio"
							th:field="*{obbligatorio}" />
					</div>
					<!-- anno -->
					<div class="form-group hidden" id="divAnno">
						<label for="anno" th:inline="text">[[#{anno}]]</label> <input
							required="required" id="anno" type="number" th:field="*{anno}"
							th:placeholder="#{anno}" class="form-control" />
					</div>
					<!-- cf -->
					<div class="form-group hidden" id="divCf">
						<label th:inline="text" for="cf">[[#{cf}]]</label> <label
							th:if="${#fields.hasErrors('cf')}" th:errors="*{cf}"
							class="validation-message myStylesRedColor"></label> <input
							required="required" id="cf" type="number" th:field="*{cf}"
							th:placeholder="#{cf}" class="form-control" />
					</div>

				</div>
			</div>
			<div class="row hidden" id="divSalva">
				<div class="col-md-4 col-md-offset-4">
					<button style="width: 100%; margin-bottom: 10%"
						class="btn btn-primary " th:inline="text">[[#{salva}]]</button>
				</div>
			</div>
		</form>
		<script type="text/javascript" th:inline="javascript">
		$('#select_corso').change(
		        function() {
		        		$("#divAttivita").removeClass('hidden');
		        		$("#divObbligatorio").removeClass('hidden');
		        		$("#divAnno").removeClass('hidden');
		        		$("#divCf").removeClass('hidden');
		        		$("#divSalva").removeClass('hidden');
		        		var corsi = [[${corsi}]];
		        		var attivitaDidattiche=[[${attivitaDidattiche}]];
		        		
		        		var corsoIdSelected = $(this).val();
		        		var corsoSelected;
		        		var length=corsi.length;
		        		for (var i=0;i<length;i++) {
		        			if (corsi[i].idCorso==corsoIdSelected) {
		        				corsoSelected=corsi[i];
		        			}
		        		}
		        		if (!corsoSelected) {
		        			$("#divAttivita").addClass('hidden');
			        		$("#divObbligatorio").addClass('hidden');
			        		$("#divAnno").addClass('hidden');
			        		$("#divCf").addClass('hidden');
			        		$("#divSalva").addClass('hidden');
		        			$('#attivita').html("");
		        			$("#anno").val(null);
		        			$("#cf").val(null);
		        			$("#obbligatorio").val(false);
		        			return;
		        		}
		        		length=corsoSelected.corsoHasAttivitaDidatticaSet.length;
		        		var htmlAttivita='<option value="" >-- --</option>';
		        		//mostro le attivita che non sono già relazionate con il corso
		        		var idsAttivitaRelatedToCorsoSelected=[];
		        		for (var i=0;i<length;i++) {
		        			idsAttivitaRelatedToCorsoSelected.push(corsoSelected.corsoHasAttivitaDidatticaSet[i].attivitaDidattica.idAttivitaDidattica);
		        		}
		        		length=attivitaDidattiche.length;
		                for ( var i=0;i<length;i++) {
		                	alert(JSON.stringify(attivitaDidattiche, null, 4));
		                	if (! idsAttivitaRelatedToCorsoSelected.includes(attivitaDidattiche[i].idAttivitaDidattica)) {
		                		htmlAttivita += '<option value='+attivitaDidattiche[i].idAttivitaDidattica+'>'+
		                		attivitaDidattiche[i].nome+'</option>';
		                	} 
		                }
		                $('#attivita').html(htmlAttivita);
		        });
		
		</script>
	</div>



	<div
		th:fragment="fragEliminaRelAttivitaCorso(corsi,relCorsoAttivitaToDelete)">
		<form autocomplete="off"
			th:action="@{/VillaDeiRomaniAccademy/admin/submitDeleteRelAttivitaCorso}"
			th:object="${relCorsoAttivitaToDelete}" method="post"
			class="form-horizontal" role="form">
			<div class="row ">
				<!-- colonna -->
				<div style="text-align: center" class="col-md-8 col-md-offset-2">
					<!-- corso -->
					<div class="form-group"><br>
						<label for="select_corso"><span th:text="#{corso}"></span></label>
						<select required="required" class="form-control"
							th:field="*{corso}" id="select_corso">
							<option value="0" th:text="#{selezionaCorso}"></option>
							<option th:each="corso : ${corsi}" th:value="${corso.idCorso}"
								th:text="${corso.nome}"></option>
						</select>
					</div>
					<!-- Attivita didattica -->
					<div class="form-group hidden" id="divAttivita">
						<label for="attivita" th:inline="text">[[#{insegnamento}]]</label>
						<select class="form-control selectpicker"
							th:field="*{attivitaDidattica}" id="attivita" required="required">
						</select>
					</div>
				</div>
			</div>
			<div class="row hidden" id="divSalva">
				<div class="col-md-4 col-md-offset-4">
					<button style="width: 100%; margin-bottom: 10%"
						class="btn btn-primary " th:inline="text">[[#{elimina}]]</button>
				</div>
			</div>
		</form>
		<script type="text/javascript" th:inline="javascript">
		$('#select_corso').change(
		        function() {
		        		$("#divAttivita").removeClass('hidden');
		        		$("#divSalva").removeClass('hidden');
		        		var corsi = [[${corsi}]];
		        		var corsoIdSelected = $(this).val();
		        		var corsoSelected;
		        		var length=corsi.length;
		        		for (var i=0;i<length;i++) {
		        			if (corsi[i].idCorso==corsoIdSelected) {
		        				corsoSelected=corsi[i];
		        			}
		        		}
		        		if (!corsoSelected) {
		        			$("#divAttivita").addClass('hidden');
			        		$("#divSalva").addClass('hidden');
		        			$('#attivita').html("");
		        			return;
		        		}
		        		length=corsoSelected.corsoHasAttivitaDidatticaSet.length;
		        		var htmlAttivita='<option value="" >-- --</option>';
		        		//mosto le attivita che non sono già relazionate con il corso
		                for ( var i=0;i<length;i++) {
		                		htmlAttivita += '<option value='+corsoSelected.corsoHasAttivitaDidatticaSet[i].attivitaDidattica.idAttivitaDidattica+'>'+
		                		corsoSelected.corsoHasAttivitaDidatticaSet[i].attivitaDidattica.nome+'</option>';
		                }
		                $('#attivita').html(htmlAttivita);
		        });
		
		</script>
	</div>

	<div th:fragment="fragEditRelAttivitaCorso (corsi,relCorsoAttivita)">
		<form autocomplete="off"
			th:action="@{/VillaDeiRomaniAccademy/admin/submitEditRelAttivitaCorso}"
			th:object="${relCorsoAttivita}" method="post" class="form-horizontal"
			role="form">
			<div class="row ">
				<!-- prima colonna -->
				<div class="col-md-10 col-md-offset-1">
					<!-- corso -->
					<div class="form-group"><br>
						<label for="select_corso"><span th:text="#{corso}"></span></label>
						<select required="required" class="form-control"
							th:field="*{corso}" id="select_corso">
							<option value="0" th:text="#{selezionaCorso}"></option>
							<option th:each="corso : ${corsi}" th:value="${corso.idCorso}"
								th:text="${corso.nome}"></option>
						</select>
					</div>
					<!-- Attivita didattica -->
					<div class="form-group hidden" id="divAttivita">
						<label for="attivita" th:inline="text">[[#{insegnamento}]]</label>
						<select class="form-control selectpicker"
							th:field="*{attivitaDidattica}" id="attivita" required="required">
						</select>
					</div>
					<!-- obbligatorio check -->
					<div class="form-group hidden " id="divObbligatorio">
						<label for="obbligatorio" th:inline="text">[[#{obbligatorio}]]</label><input
							id="obbligatorio" type="checkbox" name="obbligatorio"
							th:field="*{obbligatorio}" />
					</div>
					<!-- anno -->
					<div class="form-group hidden" id="divAnno">
						<label for="anno" th:inline="text">[[#{anno}]]</label> <input
							required="required" id="anno" type="number" th:field="*{anno}"
							th:placeholder="#{anno}" class="form-control" />
					</div>
					<!-- cf -->
					<div class="form-group hidden" id="divCf">
						<label th:inline="text" for="cf">[[#{cf}]]</label> <label
							th:if="${#fields.hasErrors('cf')}" th:errors="*{cf}"
							class="validation-message myStylesRedColor"></label> <input
							required="required" id="cf" type="number" th:field="*{cf}"
							th:placeholder="#{cf}" class="form-control" />
					</div>
				</div>
			</div>
			<div class="row hidden" id="divSalva">
				<div class="col-md-4 col-md-offset-4">
					<button style="width: 100%; margin-bottom: 10%"
						class="btn btn-primary" th:inline="text">[[#{salva}]]</button>
				</div>
			</div>
		</form>
		<script type="text/javascript" th:inline="javascript">
		$('#select_corso').change(
		        function() {	
		        	$("#divAttivita").removeClass('hidden');
	        		var corsi = [[${corsi}]];
	        		var corsoIdSelected = $(this).val();
	        		var corsoSelected;
	        		var length=corsi.length;
	        		for (var i=0;i<length;i++) {
	        			if (corsi[i].idCorso==corsoIdSelected) {
	        				corsoSelected=corsi[i];
	        			}
	        		}
	        		if (!corsoSelected) {
	        			$("#divAttivita").addClass('hidden');
	        			$("#divObbligatorio").addClass('hidden');
		        		$("#divAnno").addClass('hidden');
		        		$("#divSalva").addClass('hidden');
		        		$("#divCf").addClass('hidden');
	        			$('#attivita').html("");
	        			$("#anno").val(null);
	        			$("#cf").val(null);
	        			$("#obbligatorio").val(false);
	        			return;
	        		}
	        		length=corsoSelected.corsoHasAttivitaDidatticaSet.length;
	        		var htmlAttivita='<option value="" >-- --</option>';
	        		//mosto le attivita che non sono già relazionate con il corso
	                for ( var i=0;i<length;i++) {
	                		htmlAttivita += '<option value='+corsoSelected.corsoHasAttivitaDidatticaSet[i].attivitaDidattica.idAttivitaDidattica+'>'+
	                		corsoSelected.corsoHasAttivitaDidatticaSet[i].attivitaDidattica.nome+'</option>';
	                }
	                $('#attivita').html(htmlAttivita);
		        });
		$('#attivita').change(
		        function() {	
		        	$("#divObbligatorio").removeClass('hidden');
	        		$("#divAnno").removeClass('hidden');
	        		$("#divSalva").removeClass('hidden');
	        		$("#divCf").removeClass('hidden');
	        		var corsi = [[${corsi}]];
	        		var corsoIdSelected = $('#select_corso').val();
	        		var corsoSelected;
	        		var length=corsi.length;
	        		for (var i=0;i<length;i++) {
	        			if (corsi[i].idCorso==corsoIdSelected) {
	        				corsoSelected=corsi[i];
	        			}
	        		}
	        		var attivitaIdSelected=$(this).val();
	        		var corsoHasAttivitaDidatticaSelected;

	        		var length=corsoSelected.corsoHasAttivitaDidatticaSet.length;
	        		for (var i=0;i<length;i++) {
	        			if (corsoSelected.corsoHasAttivitaDidatticaSet[i].attivitaDidattica.idAttivitaDidattica==attivitaIdSelected) {
	        				corsoHasAttivitaDidatticaSelected=corsoSelected.corsoHasAttivitaDidatticaSet[i];
	        			}
	        		}
	        		if (!corsoHasAttivitaDidatticaSelected) {
	        			$("#divObbligatorio").addClass('hidden');
		        		$("#divAnno").addClass('hidden');
		        		$("#divSalva").addClass('hidden');
		        		$("#divCf").addClass('hidden');
	        			$("#anno").val(null);
	        			$("#obbligatorio").val(false);
	        			return;
	        		}
	        		$("#obbligatorio").prop('checked',corsoHasAttivitaDidatticaSelected.obbligatorio);
	        		$("#anno").val(corsoHasAttivitaDidatticaSelected.anno);
	        		$("#cf").val(corsoHasAttivitaDidatticaSelected.cf);
		        });
		</script>
	</div>

	<div th:fragment="fragVisualizeRelAttivitaCorso(corsi)">
		<div class="row ">
			<!-- colonna -->
			<div class="col-md-8 col-md-offset-2">
				<!-- corso -->
				<div class="form-group"><br>
					<label for="select_corso"><span th:text="#{corso}"></span></label>
					<select required="required" class="form-control"
						id="select_corso">
						<option value="0" th:text="#{selezionaCorso}"></option>
						<option th:each="corso : ${corsi}" th:value="${corso.idCorso}"
							th:text="${corso.nome}"></option>
					</select>
				</div>
				<!-- Attivita associate al corso -->
				<div class="form-group hidden " id="attivitaAssociateDiv" >
					<label for="attivitaAssociate" th:inline="text">[[#{InsegnamentiAssociati}]]</label>
					<table  class="table" style="color:white"
						id="attivitaAssociate">

					</table>
				</div>
			</div>
		</div>
		<script type="text/javascript" th:inline="javascript">
		$('#select_corso').change(
		        function() {
		        		$("#attivitaAssociateDiv").removeClass('hidden');
		        		var corsi = [[${corsi}]];
		        		var corsoIdSelected = $(this).val();
		        		var corsoSelected;
		        		var length=corsi.length;
		        		for (var i=0;i<length;i++) {
		        			if (corsi[i].idCorso==corsoIdSelected) {
		        				corsoSelected=corsi[i];
		        			}
		        		}
		        		if (!corsoSelected) {
		        			$("#attivitaAssociateDiv").addClass('hidden')
		        			return;
		        		}
		        		length=corsoSelected.corsoHasAttivitaDidatticaSet.length;
		        		var  htmlAttivita='<thead ><tr><th >'+[[#{nome}]]+'</th><th ">'+[[#{obbligatorio}]]+'</th><th >'+[[#{anno}]]+'</th><th >'+[[#{cf}]]+'</th></tr></thead><tbody>';
		                for ( var i=0;i<length;i++) {
		                	var obbl=(corsoSelected.corsoHasAttivitaDidatticaSet[i].obbligatorio)?"si":"no";
		                	htmlAttivita +=' <tr>'+
								'<td>'+corsoSelected.corsoHasAttivitaDidatticaSet[i].attivitaDidattica.nome+'</td>'+
								'<td>'+obbl+'</td>'+
								'<td>'+corsoSelected.corsoHasAttivitaDidatticaSet[i].anno+'</td>'+
								'<td>'+corsoSelected.corsoHasAttivitaDidatticaSet[i].cf+'</td>'+
								'</tr>';
							
		                }
		                htmlAttivita+="\<tbody>"
		                $('#attivitaAssociate').html(htmlAttivita);
		        });
		
		</script>
	</div>

</body>

</html>
