h1, h3, p {
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

p {
	margin-top: 40px;
}

.container {
	background-image: url("../img/s_black.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;

	/*    background-color: #cccccc;  */
}

.form-signin-heading {
	color: #fff;
	position: relative;
	width: 100%;
	left: 0;
	right: 0;
	text-align: center;
	padding-top: 15px;
	font-family: 'Roboto', sans-serif;
}

#imginthefooter {
	background-image: url("../img/loghi.png");
	background-position: center;
	margin-top: 80px;
	margin-bottom: 80px;
	height: 50px;
	weight: 100%;
	background-size: cover;
}

.foot {
	margin: 0px;
	padding: 0px;
}

.form-control{
	border: 2px solid #fff;
	border-radius:0px;
	padding: 12px 24px;
	box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
}

.btn{
	border-radius:0px;
	box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
}



