<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>


<link type="text/css" href="css/my.styles.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto:100"
	rel="stylesheet">
<link rel="stylesheet" href="css/animatedst.css" type="text/css"
	media="all" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body class="container">


	<ul th:fragment="fragRightNavBar(utente)" class="nav navbar-nav navbar-right">

		<li class="dropdown"><a class="dropdown-toggle"
			data-toggle="dropdown"> <img id="selected_lang" style="margin-bottom: 4px;"
						th:src="@{/currentFlag}"></img><span
						class="caret"></span></a>

			<ul class="dropdown-menu">

				<li><a id="it">[[#{italiano}]]<img
						th:src="@{../../img/it.png}" style="margin-left: 19%; width: 20%"></img></a></li>
				<li><a id="en">[[#{inglese}]]<img
						th:src="@{../../img/uk.png}" style="margin-left: 20%; width: 20%"></img></a></li>

			</ul></li>


		<li class="dropdown"><a class="dropdown-toggle"
			data-toggle="dropdown"><span class="glyphicon glyphicon-user"
				th:inline="text"></span> [[*{utente.nome}]]<span class="caret"></span></a>

			<ul class="dropdown-menu">

				<li><a th:href="@{/logout}"><span
						class="glyphicon glyphicon-log-out"></span> Logout</a></li>

			</ul></li>
		
	</ul>
	
	<ul th:fragment="fragRightNavBarNoLogout" class="nav navbar-nav navbar-right">

		<li class="dropdown"><a class="dropdown-toggle"
			data-toggle="dropdown"> <img id="selected_lang" style="margin-bottom: 4px;"
						th:src="@{/currentFlag}"></img><span
						class="caret"></span></a>

			<ul class="dropdown-menu">

				<li><a id="it">[[#{italiano}]]<img
						th:src="@{img/it.png}" style="margin-left: 19%; width: 20%"></img></a></li>
				<li><a id="en">[[#{inglese}]]<img
						th:src="@{img/uk.png}" style="margin-left: 20%; width: 20%"></img></a></li>

			</ul></li>


		
		
	</ul>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</html>
