<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>


<link type="text/css" href="css/my.styles.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto:100"
	rel="stylesheet">
<link rel="stylesheet" href="css/animatedst.css" type="text/css"
	media="all" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body class="container">


	<ul th:fragment="fragRightNavBar(utente)"
		class="nav navbar-nav navbar-right">

		<li class="dropdown"><a class="dropdown-toggle"
			data-toggle="dropdown"> <img id="selected_lang"
				style="margin-bottom: 4px;" th:src="@{/currentFlag}"></img><span
				class="caret"></span></a>

			<ul class="dropdown-menu">

				<li><a id="it"><img th:src="@{../../img/it.png}"
						style="margin-right:20px"></img>[[#{italiano}]]</a></li>
				<li><a id="en"><img th:src="@{../../img/uk.png}"
						style="margin-right:20px"></img>[[#{inglese}]]</a></li>
				<li><a id="zh"><img th:src="@{../../img/china.png}"
						style="margin-right:20px"></img>[[#{cinese}]]</a></li>
			</ul></li>


		<li class="dropdown"><a class="dropdown-toggle"
			data-toggle="dropdown"><span class="glyphicon glyphicon-user"
				th:inline="text"></span> [[*{utente.nome}]]<span class="caret"></span></a>

			<ul class="dropdown-menu">

				<li><a th:href="@{/logout}" th:inline="text"><span
						class="glyphicon glyphicon-log-out"></span> [[#{logout}]]</a></li>

			</ul></li>

	</ul>

	<ul th:fragment="fragRightNavBarNoLogout"
		class="nav navbar-nav navbar-right">

		<li class="dropdown"><a class="dropdown-toggle"
			data-toggle="dropdown"> <img id="selected_lang"
				style="margin-bottom: 4px;" th:src="@{/currentFlag}"></img><span
				class="caret"></span></a>

			<ul class="dropdown-menu">

				<li><a id="it"><img th:src="@{img/it.png}"
						style="margin-right:20px"></img>[[#{italiano}]]</a></li>
				<li><a id="en"><img th:src="@{img/uk.png}"
						style="margin-right:20px"></img>[[#{inglese}]]</a></li>
				<li><a id="zh"><img th:src="@{img/china.png}"
						style="margin-right:20px"></img>[[#{cinese}]]</a></li>
			</ul></li>




	</ul>
	
	
	
	
	<!--for bootstrap 4  -->
	<ul th:fragment="fragRightNavBarNoLogout4"
		class="navbar-nav ml-auto">

		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle"
			data-toggle="dropdown" href="#" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false"> <img id="selected_lang"
				style="margin-bottom: 4px;" th:src="@{/currentFlag}"></img><span
				class="caret"></span></a>

			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

				<a class="dropdown-item" id="it"><img th:src="@{img/it.png}"
						style="margin-right:20px"></img>[[#{italiano}]]</a>
				<a class="dropdown-item" id="en"><img th:src="@{img/uk.png}"
						style="margin-right:20px"></img>[[#{inglese}]]</a>
				<a class="dropdown-item" id="zh"><img th:src="@{img/china.png}"
						style="margin-right:20px"></img>[[#{cinese}]]</a>
			</div>
		</li>

	</ul>
	
	
	
	
	
	<!--for bootstrap 4  -->
	<ul th:fragment="fragRightNavBarNoLogoutWithLogin4"
		class="navbar-nav ml-auto">

		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle"
			data-toggle="dropdown" href="#" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false"> <img id="selected_lang"
				style="margin-bottom: 4px;" th:src="@{/currentFlag}"></img><span
				class="caret"></span></a>

			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

				<a class="dropdown-item" id="it"><img th:src="@{img/it.png}"
						style="margin-right:20px"></img>[[#{italiano}]]</a>
				<a class="dropdown-item" id="en"><img th:src="@{img/uk.png}"
						style="margin-right:20px"></img>[[#{inglese}]]</a>
				<a class="dropdown-item" id="zh"><img th:src="@{img/china.png}"
						style="margin-right:20px"></img>[[#{cinese}]]</a>
			</div>
		</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/login}"><span class="oi oi-account-login"></span> Login</a></li>

	</ul>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</html>
