<!doctype html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

<meta charset="utf-8">

<title>User Page</title>

<link type="text/css" href="../../css/my.styles.css" rel="stylesheet" />


<link type="text/css" href="../../css/view.student.css" rel="stylesheet" />

<link href="https://fonts.googleapis.com/css?family=Roboto:100"
	rel="stylesheet">


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>



<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>





</head>


<body class="container">

	<nav class="navbar navbar-inverse navbar-fixed-top navbar-default">


		<div class="container-fluid">

			<div class="navbar-header">
				<a class="navbar-brand" href="#"> <img
					th:src="@{../../img/logo_villa_b.png}" class="imgNav" alt="">
				</a>
			</div>
			<ul class="nav navbar-nav">



				<li sec:authorize="hasAnyAuthority('ADMIN','SUPERADMIN','TEACHER') "><a
					th:href="@{/VillaDeiRomaniAccademy/admin/homeAdmin}"><span
						class="glyphicon glyphicon-home"></span> Home</a></li>

				<li sec:authorize="hasAnyAuthority('ADMIN','SUPERADMIN')"><a
					th:href="@{/VillaDeiRomaniAccademy/admin/editStudentPersonalData(matricola=${utente.matricola})}"
					th:inline="text"><span class="glyphicon glyphicon-pencil"></span>[[#{modificaDatiPersonali}]]</a></li>

				<li sec:authorize="hasAnyAuthority('ADMIN','SUPERADMIN')"
					class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" th:inline="text">[[#{gestioneEsami}]]<span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a
							th:href="@{/VillaDeiRomaniAccademy/admin/insertExam(matricola=${utente.matricola})}"><span
								class="glyphicon glyphicon-pencil"></span>[[#{modifica}]] </a></li>

					</ul></li>

				<li sec:authorize="hasAnyAuthority('ADMIN','SUPERADMIN')"
					class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" th:inline="text">[[#{gestioneTasse}]]<span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a
							th:href="@{/VillaDeiRomaniAccademy/admin/insertTax(matricola=${utente.matricola})}"><span
								class="glyphicon glyphicon-plus"></span>[[#{aggiungi}]] </a></li>
						<li sec:authorize="hasAuthority('SUPERADMIN')"><a
							th:href="@{/VillaDeiRomaniAccademy/admin/deleteTax(matricola=${utente.matricola})}"><span
								class="glyphicon glyphicon-remove"></span>[[#{elimina}]] </a></li>
					</ul></li>

				<li sec:authorize="hasAnyAuthority('ADMIN','SUPERADMIN','STUDENT')"
					th:if="${utente.role.idRole==2}" class="dropdown"><a
					class="dropdown-toggle" data-toggle="dropdown" th:inline="text">[[#{percorsoFormativo}]]<span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li th:if="${not utente.hasPercorsoFormativo}"><a
							th:href="@{/VillaDeiRomaniAccademy/student/openPanelAggiungiPercorsoFormativo(matricola=${utente.matricola})}"><span
								class="glyphicon glyphicon-plus"></span>[[#{aggiungi}]] </a></li>
						<li th:if="${utente.hasPercorsoFormativo}"
							sec:authorize="hasAnyAuthority('ADMIN','SUPERADMIN')"><a
							th:href="@{/VillaDeiRomaniAccademy/student/openPanelAggiungiPercorsoFormativo(matricola=${utente.matricola})}"><span
								class="glyphicon glyphicon-pencil"></span>[[#{modifica}]] </a></li>

					</ul></li>

				<li sec:authorize="hasAnyAuthority('ADMIN','SUPERADMIN')" th:if="${utente.active==0}"><a
					th:href="@{/VillaDeiRomaniAccademy/admin/abilitazioneStudenteDiretta(matricola=${utente.matricola})}"
					th:inline="text"><span class="glyphicon glyphicon-ok"></span>[[#{abilita}]]</a></li>


			</ul>


			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown"><span class="glyphicon glyphicon-user"
						th:inline="text"></span> [[*{utenteLogged.nome}]]<span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/logout}"><span
								class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					</ul></li>

			</ul>

		</div>
	</nav>





	<section class="mainContent">

		<!-- ------------ -->
		<!-- dati anagrafici -->
		<!-- ------------ -->
		<section class="section1">
			<hr class="sectionTitleRule">
			<h2 class="sectionTitle">
				<span th:text="#{datiAnagrafici}"></span>
			</h2>
			<hr class="sectionTitleRule2">

		</section>
		<div class="section1Content">
			<p>
				<span th:text="#{nome} +': '+${utente.nome}"></span>
			</p>

			<p>
				<span th:text="#{cognome} +': '+${utente.cognome}"></span>
			</p>

			<p>
				<span th:text="#{indirizzo}+': '+${utente.indirizzo}"></span>
			</p>

			<p>
				<span th:text="#{dataDiNascita}+': '+${utente.dataNascita}"></span>
			</p>

			<p>
				<span th:text="#{sesso}+': '+${utente.sex}"></span>
			</p>

			<p>
				<span th:text="#{nazionalita}+': '+${utente.nazione}"></span>
			</p>

			<p>
				<span th:text="#{codiceFiscale}+': '+${utente.codiceFiscale}"></span>
			</p>

		</div>


		<!-- ------------ -->
		<!-- contatti -->
		<!-- ------------ -->
		<section class="section1">
			<hr class="sectionTitleRule">

			<h2 class="sectionTitle">
				<span th:text="#{contatti}"></span>
			</h2>


			<hr class="sectionTitleRule2">

			<div class="section1Content">

				<p>
					<span th:text="#{email}+': '+${utente.email}"></span>
				</p>

				<p>
					<span th:text="#{numeroTelefono}+': '+${utente.telefono}"></span>
				</p>

			</div>

		</section>





		<!-- ------------ -->
		<!-- Dati accademici -->
		<!-- ------------ -->
		<section class="section1">
			<hr class="sectionTitleRule">
			<h2 class="sectionTitle">
				<span th:text="#{storiaAccademica}"></span>
			</h2>
			<hr class="sectionTitleRule2">

			<div class="section1Content">


				<p>
					<span th:text="#{dataIscrizione}+': '+${utente.dataIscrizione}"></span>
				</p>

				<p>
					<span th:text="#{matricola}+': '+${utente.matricola}"></span>
				</p>



				<p>
					<span
						th:text="${utente.utenteHasCorso}? #{corso}+': '+${utente.utenteHasCorso.corso.nome} : #{corso}+': '"></span>
				</p>
			</div>
		</section>





		<!-- tabella esami -->
		<section class="section1">
			<hr class="sectionTitleRule">
			<h2 class="sectionTitle">
				<button th:inline="text" class="btn btn-primary" type="button"
					data-toggle="collapse" data-target="#tableEsami"
					aria-expanded="false" aria-controls="tableEsami">[[#{esami}]]</button>
			</h2>
			<hr class="sectionTitleRule2">
			<div class="collapse" id="tableEsami">
				<table class="table">
					<thead>
						<tr>
							<th><span th:text="#{nome}"></span></th>
							<th><span th:text="#{creditiFormativi}"></span></th>
							<th><span th:text="#{dataEsame}"></span></th>
							<th><span th:text="#{votoEsame}"></span></th>
						</tr>
					</thead>
					<tbody>
						<tr
							th:each="utenteHasAttivitaDidattica : ${utente.utenteHasAttivitaDidatticaSet}">
							<td
								th:text="${utenteHasAttivitaDidattica?.attivitaDidattica.nome}"></td>
							<td th:text="${utenteHasAttivitaDidattica?.attivitaDidattica.cf}"></td>
							<td th:text="${utenteHasAttivitaDidattica?.dataEsame}"></td>
							<td th:text="${utenteHasAttivitaDidattica?.votoEsame}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>



		<!-- tabella contributi -->
		<section class="section1">
			<hr class="sectionTitleRule">
			<h2 class="sectionTitle">
				<button th:inline="text" class="btn btn-primary" type="button"
					data-toggle="collapse" data-target="#tableTasse"
					aria-expanded="false" aria-controls="tableTasse">[[#{contributiPagati}]]</button>
			</h2>
			<hr class="sectionTitleRule2">
			<div class="collapse" id="tableTasse">
				<table class="table">
					<thead>
						<tr>
							<th><span th:text="#{contributo}"></span></th>
							<th><span th:text="#{importo}"></span></th>
							<th><span th:text="#{data}"></span></th>
						</tr>
					</thead>
					<tbody>
						<tr
							th:each="utenteHasContributo : ${utente.utenteHasContributiSet}">
							<td th:text="${utenteHasContributo?.contributo.nome}"></td>
							<td th:text="${utenteHasContributo?.importo}"></td>
							<td th:text="${utenteHasContributo?.data}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>



	</section>



	<!-- ------------- -->

	<!-- MODALE PER LA AGGIUNTA DEL PERCORSO FORMATIVO -->

	<!-- ------------- -->

	<!-- Modal -->

	<div th:if="${aggiungiPercorsoFormativo}" class="modal fade"
		id="modalAggiuntaPercorsoFormativo" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content"
				style="background-color: #428bca; color: white">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" th:inline="text">[[#{aggiungiPercorsoFormativo}]]</h4>
				</div>
				<div
					th:replace="fragments/student/aggiungiPercorsoFormativo::fragAggiungiPercorsoFormativo (${percorsoFormativoBean},${attivitaDidattiche},${corsi},${utente.matricola})"></div>
			</div>
		</div>
	</div>
	<!-- SNACKBAR TASSE AGGIUNTE CON SUCCESSO -->
	<div th:inline="text" class="snackbar"
		id="snackBarPercorsoFormativoAggiornato"
		th:if="${percorsoFormativoAggiornatoSuccessfully}">[[#{percorsoFormativoAggiornatoConSuccesso}]]</div>


	<!-- ------------- -->
	<!-- MODALE PER L'INSERIMENTO TASSE UTENTE -->
	<!-- ------------- -->
	<!-- Modal -->
	<div th:if="${aggiungiTasse}" class="modal fade"
		id="modalAggiungiTasse" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content"
				style="background-color: #428bca; color: white">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" th:inline="text" style="text-align: center">[[#{inserimentoTasse}]]</h4>
				</div>
				<div
					th:replace="fragments/student/tasse::fragInserimentoTasse(${contributi}, ${aggiungiTasseBean},${utente.matricola})"></div>
			</div>
		</div>
	</div>
	<!-- SNACKBAR TASSE AGGIUNTE CON SUCCESSO -->
	<div th:inline="text" class="snackbar" id="snackBarTaxCreated"
		th:if="${taxCreatedSuccessfully}">[[#{tasseAggiunteConSuccesso}]]</div>
	<!-- ------------- -->
	<!-- MODALE PER L'ELIMINAZIONE TASSE UTENTE -->
	<!-- ------------- -->
	<!-- Modal -->
	<div th:if="${eliminaTasse}" class="modal fade" id="modalEliminaTasse"
		role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content"
				style="background-color: #428bca; color: white">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" th:inline="text" style="text-align: center">[[#{eliminazioneTassa}]]</h4>
				</div>
				<div
					th:replace="fragments/student/tasse::fragEliminazioneTasse(${contributi},${contributoToDelete},${utente.matricola})"></div>
			</div>
		</div>
	</div>














	<!-- ------------- -->
	<!-- MODALE PER L'INSERIMENTO DI UN ESAME IN CARRIERA -->
	<!-- ------------- -->
	<!-- Modal -->
	<div th:if="${aggiungiEsame}" class="modal fade"
		id="modalAggiungiEsame" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content"
				style="background-color: #428bca; color: white">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" th:inline="text" style="text-align: center">[[#{inserimentoEsame}]]</h4>
				</div>
				<div
					th:replace="fragments/student/aggiungiEsame::fragAggiungiEsame(${attivitaDidatticheAssociate}, ${aggiungiEsameBean},${utente.matricola})"></div>
			</div>
		</div>
	</div>
	<!-- SNACKBAR ESAME AGGIUNTE CON SUCCESSO -->
	<div th:inline="text" class="snackbar" id="snackbarEsameAggiunto"
		th:if="${esameAddedSuccessfully}">[[#{esameAggiuntoConSuccesso}]]</div>











	<!-- ------------- -->
	<!-- MODALE PER L'EDIT DEI DATI PERSONALI -->
	<!-- ------------- -->
	<!-- Modal -->
	<div th:if="${editDatiPersonali}" class="modal fade"
		id="modalEditDatiPersonali" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content"
				style="background-color: #428bca; color: white">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" th:inline="text" style="text-align: center">[[#{editDatiPersonali}]]</h4>
				</div>
				<div
					th:replace="fragments/student/editDatiPersonali::fragDatiPersonali(${newUtente},${utente.matricola})"></div>
			</div>
		</div>
	</div>
	<!-- SNACKBAR TASSE AGGIUNTE CON SUCCESSO -->
	<div th:inline="text" class="snackbar" id="snackbarEditDatiPersonali"
		th:if="editDatiPersonaliSuccessfully">[[#{editDatiPersonaliSuccessfully}]]</div>


	<!-- SNACKBAR OPERAZIONE AVVENUTA CON SUCCESSO -->
	<div th:inline="text" class="snackbar" id="snackBarOperationCompleted"
		th:if="${operationCompletedSuccessfully}">[[#{operazioneAvvenutaConSuccesso}]]</div>


</body>

<script type="text/javascript" th:inline="javascript">

	//per aprire il pannello gestione tasse
	var editDatiPersonali = [[${editDatiPersonali}]];
	if (editDatiPersonali) {
		$("#modalEditDatiPersonali").modal();
	}
	//per aprire snackbar tassa generata con successo
	var editDatiPersonaliSuccessfully = [[${editDatiPersonaliSuccessfully}]];
	if (editDatiPersonaliSuccessfully){ 		 
		var x = document.getElementById("snackbarEditDatiPersonali");
   		x.className = "show snackbar";
    	setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
	} 

	//per aprire il pannello del percorso formativo dell'utente
	var aggiungiPercorsoFormativo = [[${aggiungiPercorsoFormativo}]];
	if (aggiungiPercorsoFormativo) {
		$("#modalAggiuntaPercorsoFormativo").modal();
	}
	//per aprire snackbar percorso formativo aggiornato con successo
 	var percorsoFormativoAggiornatoSuccessfully = [[${percorsoFormativoAggiornatoSuccessfully}]];
	if (percorsoFormativoAggiornatoSuccessfully){
	    var x = document.getElementById("snackBarPercorsoFormativoAggiornato");
	    x.className = "show snackbar";
	    
	    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
	}
 	
	
	//per aprire il pannello inserimento tasse
	var aggiungiTasse = [[${aggiungiTasse}]];
	if (aggiungiTasse) {
		$("#modalAggiungiTasse").modal();
	}
	//snackbar tassa generata con succeso
	var taxCreatedSuccesfully = [[${taxCreatedSuccessfully}]];
	if (taxCreatedSuccesfully){
	    var x = document.getElementById("snackBarTaxCreated");
	    x.className = "show snackbar";
	    
	    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
	} 
	
	//per aprire il pannello eliminazione tasse
	var eliminaTasse = [[${eliminaTasse}]];
	if (eliminaTasse) {
		$("#modalEliminaTasse").modal();
	}
	
	
	
	//per aprire il pannello gestione esame
	var aggiungiEsame = [[${aggiungiEsame}]];
	if (aggiungiEsame) {
		$("#modalAggiungiEsame").modal();
	}
	//per aprire snackbar tassa generata con successo
 	var esameAddedSuccessfully = [[${esameAddedSuccessfully}]];
	if (esameAddedSuccessfully){
	    var x = document.getElementById("snackbarEsameAggiunto");
	    x.className = "show snackbar";
	    
	    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
	}
	

	//per aprire snackbar operazione eseguita con successo
 	var operationCompletedSuccessfully = [[${operationCompletedSuccessfully}]];
	if (operationCompletedSuccessfully){
	    var x = document.getElementById("snackBarOperationCompleted");
	    x.className = "show snackbar";
	    
	    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
	} 
	
	
	
	
</script>
</html>